.Content h1 {
    margin: 15px 0;
    font-size: 25px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif	    ;
    font-weight: normal;
    color: black;
    text-transform: none;
    text-align: center;
    
}